@import "responsive"

#pay
  &.disabled
    opacity: 0.54
    cursor: default
    pointer-events: none

.baloon-obj-content
  width: 410px
  height: 585px
  position: relative
  background-color: #fff
  overflow: hidden
  +smaller-than($small-screen)
    width: 247px

  .slider
    height: 230px
    width: 100%
    background-color: #000
    position: relative
    +smaller-than($small-screen)
      height: 150px

    .img-list
      width: 100%!important
      height: 100%!important
      position: absolute
      top: 0px!important
      transition: transform .75s ease, -webkit-transform .75s ease

      img
        width: 100%
        height: 230px
        position: absolute
        user-select: none
        +smaller-than($small-screen)
          height: 150px

    .buttons
      .next
        right: 0
        transform: translateY(-50%) rotate(180deg)

      .prev
        left: 0

      div
        z-index: 1
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 40px
        height: 40px
        cursor: pointer

  > h2
    font-size: 20px
    font-weight: 300
    margin-top: 15px
    margin-left: 15px
    +smaller-than($small-screen)
      font-size: 18px

  > span
    font-size: 14px
    margin-top: 15px
    margin-left: 15px
    color: rgba(#000, 0.54)

  .hr
    opacity: 0.28
    width: calc(100% - 30px)
    height: 1px
    background-color: rgba(0, 0, 0, 0.28)
    margin: auto
    margin-top: 20px

  .info-block
    margin-top: 15px
    margin-left: 15px
    position: relative

    div
      display: inline-block
      height: 40px
      padding: 15px
      border: 1px solid #448AFF
      border-radius: 3px
      line-height: 9px
      color: #448AFF
      margin-right: 15px
      &:last-of-type
        margin-right: 0
      +smaller-than($small-screen)
        font-size: 14px
        min-width: 98px

    span
      position: absolute
      right: 15px
      height: 40px
      margin: 0
      line-height: 40px
      font-size: 20px
      color: #ff9100
      +smaller-than($small-screen)
        display: block
        position: static

  p
    margin-top: 10px
    margin-left: 15px
    font-size: 14px

  div.pay-block
    text-align: center
    margin-top: 15px

    div
      width: 113px
      margin-right: 20px
      height: 70px
      display: inline-block
      text-align: center
      border: 1px solid #448AFF
      border-radius: 3px
      cursor: pointer
      &:last-of-type
        margin-right: 0px
      +smaller-than($small-screen)
        width: 60px

      &.active
        background-color: #448AFF
        *
          color: #fff

      span, object
        display: block
        user-select: none
        cursor: pointer
        color: #448AFF

      span
        margin-top: 10px
        margin-bottom: 10px

      object
        font-weight: 700

      &:last-of-type
        margin-right: 0

  button
    height: 40px
    width: calc(100% - 30px)
    margin: auto
    display: block
    margin-top: 15px
    border: none
    outline: none
    border-radius: 3px
    cursor: pointer
    color: #fff
    background-color: #448AFF
    font-size: 16px
    font-weight: 700
    +smaller-than($small-screen)
      width: calc(100% - 60px)

  p.description
    margin-top: 25px
    margin-right: 15px
    color: rgba(#000, 0.54)
    max-height: 85px
    overflow: hidden
    line-height: 17px

  .description-block
    div
      margin-top: 15px

      ul, button
        display: inline-block
        vertical-align: middle

      ul
        margin-left: 30px
        list-style: none
        width: 180px
        li
          a
            color: #FF9100
            font-size: 14px
            cursor: pointer
            position: relative
            &::before
              position: absolute
              content: " "
              bottom: -1px
              left: 0
              right: 0
              background-color: #FF9100
              height: 1px

      button
        height: 50px
        width: 185px
        padding: 25px
        padding-top: 15px
        padding-bottom: 15px
        margin-top: 0
