@import "responsive"

.baloon-content
  padding: 10px
  background-color: #fff

  .baloon-footer
    button
      background-color: #448AFF
      outline: none
      border: none
      color: #fff
      border-radius: 3px
      font-weight: 700
      text-transform: uppercase
      font-size: 16px
      line-height: 30px
      cursor: pointer
      height: 50px
      width: 100%
      margin-bottom: 13px

  .baloon-contacts
    margin-top: 10px
    margin-bottom: 10px

    ul.work-time
      li
        margin-bottom: 10px
        color: rgba(38, 50, 56, 0.54)
        font-size: 14px

    ul.numbers
      li
        margin-bottom: 5px
        a
          color: #FF9100
          font-size: 14px
          cursor: pointer
          position: relative
          &:before
            position: absolute
            content: " "
            bottom: -1px
            left: 0
            right: 0
            background-color: #FF9100
            height: 1px

    ul
      padding-left: 35px
      width: 50%
      list-style: none
      display: inline-block
      vertical-align: middle
      +smaller-than($small-screen)
        padding-left: 10px

  .baloon-content-p
    clear: both
    font-size: 14px
    margin-top: 15px
    color: rgba(#000, 0.54)

  .baloon-header
    a
      margin-left: 10px
      color: #448AFF
      text-decoration: none
      font-size: 14px

    h2
      font-size: 20px
      font-weight: 300
      margin-left: 10px
      box-sizing: border-box
      float: left
      width: calc(100% - 60px)

    img
      width: 50px
      height: 50px
      float: left
      box-sizing: border-box
      +smaller-than($small-screen)
        display: none
