@import "responsive.sass"

.diretion-points
  div
    height: 40px
    font-size: 14px
    margin-left: 50px
    &:first-of-type
      margin-top: 40px

.direction
  position: fixed
  left: 20px
  top: 120px
  width: calc(100% - 40px)
  height: 120px
  background-color: #fff
  z-index: 20
  border-radius: 3px 3px 0 0
  box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 10px
  overflow: hidden
  transition: height 350ms ease 350ms, width 350ms ease
  pointer-events: all
  +smaller-than($small-screen)
    height: auto

  &.hidden
    transition: height 350ms ease 0ms, width 350ms ease 350ms
    pointer-events: none
    height: 50px!important
    width: 0px!important

  .direction-content-flex
    display: flex
    align-items: center
    +smaller-than($small-screen)
      flex-wrap: wrap
      position: relative

  .direction-content
    padding: 10px
    height: calc(100% - 50px)
    input
      width: calc(50% - 205px)
      &:last-of-type
        height: 40px
        border: none
        outline: none
        border-bottom: 1px solid black
        padding-left: 5px
        +smaller-than($small-screen)
          margin-left: 50px
          margin-bottom: 10px
          width: 100%
      &:first-of-type
        height: 40px
        border-radius: 2px
        border: none
        outline: none
        border: 1px solid rgba(0, 0, 0, 0.28)
        padding-left: 5px
        +smaller-than($small-screen)
          width: 100%
          margin-left: 50px
    .direction-button
      width: 210px
      background-color: #448AFF
      outline: none
      border: none
      color: #fff
      border-radius: 3px
      font-weight: 700
      text-transform: uppercase
      font-size: 14px
      line-height: 30px
      cursor: pointer
      height: 40px
      +smaller-than($small-screen)
        width: 100%

    .direction-map-btn
      background-image: url("/static/images/direction-map.svg")
      width: 40px
      height: 40px
      margin-right: 10px
      cursor: pointer
      +smaller-than($small-screen)
        display: none

    .direction-map-reverse
      background-image: url("/static/images/reverse.svg")
      width: 40px
      height: 40px
      margin-right: 20px
      margin-left: 20px
      cursor: pointer
      +smaller-than($small-screen)
        position: absolute
        top: 20px
        margin: 0

    .direction-map-car
      // background-image: url("/static/images/car.svg")
      width: 41px
      // height: 40px
      // margin-right: 20px
      // margin-left: 20px
      // cursor: pointer
      // background-repeat: no-repeat

  .direction-header
    background-color: #263238
    width: 100%
    height: 50px
    display: flex
    align-items: center
    position: relative
    border-radius: 3px

    h2
      color: #fff
      line-height: 30px
      font-weight: 700
      font-size: 20px
      margin-left: 15px

    .direction-header__close
      position: absolute
      right: 15px
      width: 20px
      height: 20px
      background-image: url("/static/images/close.svg")
      top: 50%
      transform: translateY(-50%)
      cursor: pointer
      transition: background 150ms ease-in-out
