.left_siderbar__dropdown
  margin-top: 20px
  position: relative
  height: 40px

  > .left_siderbar__dropdown__right__arrow
    position: absolute
    right: 10px
    width: 15px
    height: 10px
    background-position: 0px
    background-image: url("/static/images/arrow_down.svg")
    top: calc(50% + 2px)
    transform: translateY(-50%)
    cursor: pointer
    z-index: 2
    pointer-events: none
    transition: all 350ms ease

  > .left_siderbar__dropdown__content
    span
      background-color: #fff
      display: block
      height: 0
      opacity: 0
      padding-left: 10px
      transition: all 350ms ease

      &:hover
        background-color: rgba(#448AFF, 0.08)

  &.active
    > .left_siderbar__dropdown__right__arrow
      top: calc(50% - 6px)
      transform: rotate(180deg)

    > .left_siderbar__dropdown__content
      border-color: #448AFF
      span
        height: 40px
        opacity: 1

  > .left_siderbar__dropdown__content
    height: auto
    min-height: 40px
    border-radius: 2px
    border: 1px solid rgba(#000, 0.28)
    width: 100%
    position: relative
    cursor: pointer
    line-height: 38px
    color: rgba(#000, 0.38)
    font-size: 14px
    overflow: hidden
    position: absolute
    transition: all 350ms ease
    background-color: #fff
    z-index: 1
    box-sizing: border-box

    object
      padding-left: 10px
      user-select: none
