@import "responsive"

$bg-color: rgba(#448AFF, 0.54)

a
  text-decoration: none

.svg-marker-text
  color: #fff
  font-size: 20px
  margin-left: 7px

.svg-marker
  width: 20px
  height: 20px
  margin-left: 2px
  margin-top: 3px
  svg
    path
      fill: #ffffff

// .hidden
//   display: none

::selection
  background: $bg-color
::-moz-selection
  background: $bg-color
::-webkit-selection
  background: $bg-color
::-ms-selection
  background: $bg-color
::-khtml-selection
  background: $bg-color

*
  margin: 0
  padding: 0
  font-family: "Noto Sans"
  box-sizing: border-box

.xdesktop-only
  +between($small-screen, $large-screen)
    display: none!important

.desktop-only
  +between(0px, $medium-screen)
    display: none!important

.tablet-only
  +smaller-than($small-screen)
    display: none!important
  +bigger-than($medium-screen)
    display: none!important

.mobile-only
  +smaller-than($small-screen)
    display: block!important

.mobile-login
  position: absolute
  width: 40px
  height: 40px
  background-color: #FF9100
  left: 100px
  top: 25px
  display: none
  border-radius: 3px
  background-image: url("/static/images/login.svg")
  cursor: pointer
  &.blue
    background-color: #448AFF
    background-image: url("/static/images/login.svg")
    left: 150px
  +smaller-than($small-screen)
    display: block

.form
  input
    border: 1px solid rgba(0, 0, 0, 0.28)
    border-radius: 2px
    height: 40px
    width: 270px
    margin-bottom: 20px
    padding-left: 10px
    &:first-of-type
      margin-top: 35px

  p
    font-size: 14px
    text-align: left
    margin-left: 14px
    margin-bottom: 10px

  a
    font-size: 14px
    color: #448aff
    cursor: pointer
    display: block
    text-align: left
    margin-left: 15px
    margin-bottom: 15px

  button
    margin-bottom: 15px
    border-radius: 3px
    background-color: #448AFF
    border: none
    outline: none
    color: #fff
    opacity: 0.5
    font-size: 14px
    font-weight: 700
    padding-left: 15px
    padding-right: 15px
    padding-top: 10px
    padding-bottom: 10px
    cursor: default
    text-transform: uppercase
    transition: all 350ms ease

    &.active
      pointer-events: all
      opacity: 1
      cursor: pointer

.radio-button-group
  margin-top: 15px

  ul
    list-style: none

    li
      display: inline-block
      text-align: center
      line-height: 40px
      width: 40px
      height: 40px
      margin-right: 15px
      border-radius: 3px
      border: 1px solid #448AFF
      color: #448AFF
      cursor: pointer
      transition: all 350ms ease
      user-select: none
      +smaller-than($small-screen)
        font-size: 14px
        margin-right: 5px

      &.active
        background-color: #448AFF
        color: #fff

    li:last-child
      width: 105px
      margin-right: 0
      +smaller-than($small-screen)
        width: 85px

.ymaps-copyrights-legend, .ymaps-logotype-div
  display: none!important

#g-recaptcha
  > div
    margin: auto
    margin-bottom: 15px

ymaps
  iframe
    display: none!important

.left_siderbar__checkbox_group
  text-align: center
  margin-top: 10px

  div:first-child
    margin-right: 10px

.checkbox
  display: inline-block
  width: 130px
  height: 40px
  cursor: pointer
  line-height: 38px
  border: 1px solid #448AFF
  border-radius: 3px
  color: #448AFF
  user-select: none
  transition: all 350ms ease
  position: relative
  text-align: center
  +smaller-than($small-screen)
    width: 115px
    font-size: 14px

  &.active
    background-color: #448AFF
    color: #fff
    padding-left: 20px

    &::before
      opacity: 1

  &::before
    content: " "
    position: absolute
    width: 15px
    height: 15px
    background-image: url("/static/images/ok.svg")
    left: 10px
    top: 12.5px
    opacity: 0
    transition: all 350ms ease

.map
  z-index: -1
  background-color: #123
  top: 0
  bottom: 0
  right: 0
  left: 0
  position: fixed

.right-button
  position: absolute
  right: 20px
  top: 35px
  width: 260px
  height: 50px
  background-color: #448AFF
  outline: none
  border: none
  color: #fff
  border-radius: 3px
  font-weight: 700
  text-transform: uppercase
  font-size: 16px
  line-height: 30px
  cursor: pointer
  box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 10px
  +smaller-than($medium-screen)
    top: 20px
  +smaller-than($small-screen)
    top: 25px
    width: 40px
    height: 40px
    font-size: 0
    background-image: url("/static/images/question.svg")
    background-repeat: no-repeat
    background-position: center

.left-header
  position: absolute
  top: 20px
  left: 20px
  height: 80px
  width: 315px
  background-color: #fff
  border-radius: 3px
  display: flex
  align-items: center
  box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 10px
  +smaller-than($small-screen)
    display: block
    width: 72px
    height: 50px
    overflow: hidden

  .logotype
    width: 115.2px
    height: 80px
    background-image: url("/static/images/logo.jpg")
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    +smaller-than($small-screen)
      background-image: url("/static/images/logo-mobile.svg")
      width: 72px
      height: 50px

  .right-block
    position: relative
    height: 100%
    width: 100%
    text-align: center
    padding: 7.5px 10px
    box-sizing: border-box

    .right-block-not-auth
      // width: calc(100% - 30px)
      height: 30px
      font-size: 16px
      // top: 50%
      // transform: translateY(-50%) translateX(-50%)

    button.right-block-not-auth
      margin-bottom: 5px

    button
      // position: absolute
      // bottom: 10px
      // left: 50%
      // transform: translateX(-50%)
      // font-size: 12px
      // width: calc(100% - 30px)
      width: 100%
      height: 30px
      border-radius: 3px
      background-color: #FF9100
      outline: none
      border: none
      font-weight: 700
      color: #fff
      cursor: pointer
      transition: background 450ms $tf
      &:hover
        background: #FF6D00
      &:last-of-type
        background: #448AFF
        &:hover
          background: #2962FF
      &.inline-block
        width: 48%
        display: inline-block
        cursor: pointer
        font-size: 10px
        vertical-align: top
        margin-top: 10px
        margin-right: 3px
        &:last-of-type
          margin-right: 0

    .email
      font-size: 12px
      line-height: 20px
      display: block

.left-sidebar
  position: absolute
  left: 20px
  bottom: 20px
  top: 120px
  width: 315px
  height: calc(100% - 140px)
  background-color: rgba(#fff, 0.96)
  transition: width 350ms ease, height 350ms ease 350ms
  box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 10px
  border-radius: 3px
  overflow: hidden
  display: flex
  flex-direction: column
  +smaller-than($small-screen)
    width: calc(100% - 40px)
    transition: width 350ms ease, height 350ms ease
    height: calc(100% - 150px)
    top: 75px

  &.hidden
    transition: width 350ms ease 350ms, height 350ms ease
    width: 180px
    height: 50px
    +smaller-than($small-screen)
      width: calc(100% - 40px)
      transition: width 350ms ease, height 350ms ease

    > .left-slidebar__header
      > .left-sidebar__close
        background-image: url("/static/images/arrow.svg")

.left-slidebar__header
  height: 50px
  width: 100%
  background-color: #263238
  display: flex
  align-items: center
  position: relative
  cursor: pointer
  user-select: none

  h2
    color: #fff
    line-height: 30px
    font-weight: 700
    font-size: 20px
    margin-left: 15px

.left-sidebar__close
  position: absolute
  right: 15px
  width: 20px
  height: 20px
  background-image: url("/static/images/close.svg")
  top: 50%
  transform: translateY(-50%)
  cursor: pointer
  transition: background 150ms ease-in-out

.left_siderbar__content
  width: 100%
  padding: 20px
  flex: 1
  min-width: 0
  min-height: calc(100% + 1px)

  .left_sidebar__hr
    opacity: 0.28
    width: 100%
    height: 1px
    background-color: rgba(#000, 0.28)
    margin-top: 20px

  .left_siderbar__label
    margin-top: 25px
    font-size: 20px

  .left_siderbar__houses
    margin-top: 20px

    span
      display: inline-block

    > span:first-of-type
      width: 20px
      height: 20px
      margin-right: 12.5px
      background-image: url("/static/images/house.svg")

    > span:last-of-type
      font-size: 20px
      position: relative
      top: -2px

  .left_siderbar__search
    width: 100%
    height: 40px
    border: 1px solid rgba(#000, 0.28)
    border-radius: 2px
    display: flex
    align-items: center
    position: relative

    .left_siderbar__search__btn
      border: none
      outline: none
      position: absolute
      right: 10px
      width: 20px
      height: 20px
      background-image: url("/static/images/search.svg")
      top: 50%
      transform: translateY(-50%)

    input
      border: none
      outline: none
      margin-left: 10px
      width: calc(100% - 40px)

      &::placeholder
        font-size: 14px

.plus-minus-wrapper
  position: absolute
  bottom: 20px
  right: 20px
  +smaller-than($small-screen)
    display: none

  div
    width: 40px
    height: 40px
    background-color: #448AFF
    display: block
    margin-bottom: 10px
    text-align: center
    line-height: 40px
    font-size: 20px
    font-weight: bold
    user-select: none
    cursor: pointer
    color: #fff

    &:last-of-type
      margin-bottom: 0
