.object-list
  height: auto
  line-height: 50px
  overflow: hidden
  list-style: none
  color: rgba(#000, 0.87)

  &.active
    overflow: visible

    > span
      > object
        > svg
          transform: rotate(-180deg)

    > li
      opacity: 1
      height: 50px

      > object
        height: 20px
        overflow: visible

  > span
    cursor: pointer
    height: 50px
    display: block
    font-size: 16px
    user-select: none

    > object
      margin-right: 15px

      > svg
        transition: transform 350ms ease
        width: 20px
        height: 20px
        position: relative
        top: 5px

  list-style: none

  > li
    height: 0px
    opacity: 0
    cursor: pointer
    line-height: 50px
    padding-left: 40px
    position: relative
    color: rgba(#000, 0.87)
    width: calc(100% + 40px)
    position: relative
    left: -20px
    transition: all 350ms ease
    user-select: none
    font-size: 14px

    &::after
      content: " "
      position: absolute
      width: 2px
      height: 12px
      background-color: rgba(#FF9100, 0.50)
      left: 20px
      top: 50%
      transform: translateY(-50%) rotate(90deg)
      transition: all 350ms ease
      opacity: 0

    &::before
      content: " "
      position: absolute
      width: 2px
      height: 12px
      background-color: rgba(#FF9100, 0.50)
      left: 20px
      top: 50%
      transform: translateY(-50%)
      transition: all 350ms ease
      opacity: 0

    &.active
      background-color: #448AFF
      color: #fff

      &::after, &::before
        height: 15px
        background-color: rgba(#FFFFFF, 0.50)
        opacity: 1

      &::after
        transform: translateY(-50%) rotate(45deg)

      &::before
        transform: translateY(-50%) rotate(-45deg)

      > object
        background-color: #fff
        color: #448AFF

      svg
        path
          fill: #ffffff

      &:hover
        background-color: #448AFF
        svg
          path
            fill: #ffffff

        > object
          background-color: #fff
          color: #448AFF

        &::after, &::before
          background-color: rgba(#FFFFFF, 1)

    svg
      path
        transition: all 350ms ease

    &:hover
      background-color: rgba(#FF9100, 0.06)
      svg
        path
          fill: #ff9100

      &::after, &::before
        opacity: 1

      > object
        background-color: #FF9100
        color: #fff

    > object
      transition: all 350ms ease
      position: absolute
      right: 20px
      top: calc(50% - 10px)
      width: 20px
      height: 0px
      overflow: hidden
      border-radius: 3px
      font-size: 12px
      font-weight: 700
      background-color: #E3F2FD
      line-height: 21px
      text-align: center
      color: #448AFF

    > span
      > svg
        width: 20px
        height: 20px
        margin-right: 10px
        position: relative
        top: 3px
