@import "responsive"

.table
  display: table
  border-collapse: collapse
  width: 100%

  +smaller-than($medium-screen)
    width: 100%

  > .row
    display: table-row
    transition: background-color 250ms ease
    border-bottom: 1px solid rgba(#000, 0.12)
    position: relative
    +smaller-than($medium-screen)
      display: block

    &:last-child
      border-bottom: none

    &:hover
      background-color: rgba(#FF9100, 0.03)!important

    &:nth-of-type(even)
      background-color: rgba(#448AFF, 0.03)

    > .cell
      padding: 20px 10px
      font-size: 14px
      vertical-align: middle
      display: table-cell

      &:first-of-type
        +smaller-than($medium-screen)
          width: 85%

      // &:nth-of-type(1)
      //   width: 85%

      &:nth-of-type(2)
        +between($medium-screen, $large-screen)
          width: 25%

      +smaller-than($medium-screen)
        display: block
        padding: 0
        padding-left: 10px
        &:first-of-type
          padding-top: 20px

      &.cell-numbers, &.cell-work-time
        +smaller-than($medium-screen)
          width: 50%
          display: inline-block
          vertical-align: top

      &.cell-numbers
        width: 140px
        +smaller-than($medium-screen)
          width: 50%

      span.address
        +smaller-than($medium-screen)
          display: block
          width: 85%

      > div.map-btn
        width: 40px
        height: 40px
        background-image: url("/static/images/map.svg")
        background-color: #448AFF
        border-radius: 3px
        cursor: pointer
        margin: auto
        +smaller-than($medium-screen)
          position: absolute
          top: 15px
          right: 10px

      &:nth-of-type(1)
        font-size: 20px

      > a
        color: #448AFF
        text-decoration: none
        +smaller-than($medium-screen)
          display: inline-block
          margin-top: 20px
          margin-bottom: 20px

      > ul.work-time
        list-style: none
        text-align: center
        +smaller-than($medium-screen)
          text-align: right
          padding-right: 10px
        +smaller-than($small-screen)
          font-size: 12px

        > li
          margin-bottom: 20px
          color: rgba(#263238, 0.54)
          &:last-of-type
            margin-bottom: 0px

      > ul.numbers
        list-style: none
        > li
          margin-bottom: 10px
          > a
            color: #FF9100
            cursor: pointer
            position: relative
            &::before
              position: absolute
              content: " "
              bottom: -1px
              left: 0
              right: 0
              background-color: #FF9100
              height: 1px

      > span
        margin-right: 15px

        > svg
          width: 20px
          height: 20px
          position: relative
          top: 2px

.right-panel
  position: absolute
  right: 20px
  top: 120px
  transition: width 350ms ease, height 350ms ease 350ms
  width: calc(100vw - 360px)
  height: calc(100% - 140px)
  box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 10px
  border-radius: 3px
  overflow: hidden
  z-index: 2
  +smaller-than($small-screen)
    transition: width 350ms ease 350ms, height 350ms ease
    top: auto
    bottom: 10px
    width: calc(100% - 40px)
    height: calc(100% - 150px)

  .right-sidebar__content
    background-color: #fff
    width: calc(100vw - 360px)
    height: calc(100% - 50px)
    border-radius: 3px
    // padding: 0 0 0 30px
    box-sizing: border-box
    overflow-y: scroll
    overflow-x: hidden
    +smaller-than($medium-screen)
      padding: 0
    +smaller-than($small-screen)
      width: 100%

  &.hidden
    transition: width 350ms ease 350ms, height 350ms ease
    width: 205px
    height: 50px
    +smaller-than($small-screen)
      transition: width 350ms ease 350ms, height 350ms ease
      width: calc(100% - 40px)

    > .right-panel__header
      border-radius: 3px

      > .right-sidebar__close
        background-image: url("/static/images/arrow.svg")

  > .right-panel__header
    background-color: #263238
    height: 50px
    width: 100%
    display: flex
    align-items: center
    position: relative
    cursor: pointer
    border-radius: 3px 3px 0px 0px
    user-select: none

    > .right-panel__objects_count
      height: 20px
      padding: 5px
      background-color: #FF9100
      line-height: 10px
      border-radius: 3px
      color: #fff
      margin-left: 10px
      font-size: 14px
      font-weight: 700

    > .right-sidebar__close
      position: absolute
      right: 15px
      width: 20px
      height: 20px
      background-image: url("/static/images/close.svg")
      top: 50%
      -webkit-transform: translateY(-50%)
      transform: translateY(-50%)
      cursor: pointer
      transition: background 150ms ease-in-out

    > h2
      color: #fff
      line-height: 30px
      font-weight: 700
      font-size: 20px
      margin-left: 15px
      cursor: pointer
