.search-result
  list-style: none

  li
    cursor: pointer
    line-height: 50px
    padding-left: 40px
    position: relative
    color: rgba(#000, 0.87)
    width: calc(100% + 40px)
    position: relative
    left: -20px
    transition: all 350ms ease
    user-select: none
    font-size: 14px
    height: 50px
    span
      position: absolute
      width: 20px
      height: 50px
      top: 0
      svg
        position: relative
        top: 3px
        path
          transition: all 350ms ease
    &::after
      content: " "
      position: absolute
      width: 2px
      height: 12px
      background-color: rgba(#FF9100, 0.50)
      left: 20px
      top: 50%
      transform: translateY(-50%) rotate(90deg)
      transition: all 350ms ease
      opacity: 0

    &::before
      content: " "
      position: absolute
      width: 2px
      height: 12px
      background-color: rgba(#FF9100, 0.50)
      left: 20px
      top: 50%
      transform: translateY(-50%)
      transition: all 350ms ease
      opacity: 0
    object
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      width: calc(100% - 20px)
      display: block
      padding-left: 30px
    &:first-of-type
      margin-top: 20px

    &:hover
      background-color: rgba(#FF9100, 0.06)
      &::after, &::before
        opacity: 1
      span
        svg
          path
            fill: #ff9100

    &.active
      background-color: #448AFF
      color: #fff
      span
        svg
          path
            fill: #ffffff

      &::after, &::before
        height: 15px
        background-color: rgba(#FFFFFF, 0.50)
        opacity: 1

      &::after
        transform: translateY(-50%) rotate(45deg)

      &::before
        transform: translateY(-50%) rotate(-45deg)
